<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>nishuverma@gmail.com</string>
	<key>artistId</key>
	<integer>530448087</integer>
	<key>artistName</key>
	<string>Flipkart.com</string>
	<key>bundleDisplayName</key>
	<string>Flipkart</string>
	<key>bundleShortVersionString</key>
	<string>1.8.1</string>
	<key>bundleVersion</key>
	<string>1.8.1</string>
	<key>copyright</key>
	<string>Flipkart.com</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>Lifestyle</string>
	<key>genreId</key>
	<integer>6012</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>742044692</integer>
	<key>itemName</key>
	<string>Flipkart</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Flipkart.com</string>
	<key>playlistName</key>
	<string>Flipkart</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2014-09-15T09:40:59Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2013-11-24T01:05:31Z</string>
	<key>s</key>
	<integer>143467</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1459.phobos.apple.com/us/r30/Purple5/v4/94/dc/a6/94dca6eb-1cfc-af72-dda7-8b05815c3e70/appicon.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.appflipkart.flipkart</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>653272661</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>120062654</integer>
		<integer>203842638</integer>
		<integer>289472639</integer>
		<integer>342052648</integer>
		<integer>379502640</integer>
		<integer>502072648</integer>
		<integer>569093221</integer>
		<integer>591583153</integer>
		<integer>600082714</integer>
		<integer>635372650</integer>
		<integer>653272661</integer>
	</array>
	<key>storeCohort</key>
	<string>1|date=1410773400000&amp;sf=143467&amp;ver=1.8.1&amp;bld=1.8.1</string>
	<key>userName</key>
	<string>Nishant Verma</string>
	<key>vendorId</key>
	<integer>661624</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
